<a href="https://colab.research.google.com/github/ditiansm2015/Python_for_youtube/blob/main/Day_2_Variables_(%26_declaration)_comments_keywords_and_user_input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **We are on Day 2 of python**

**Variables**

In [ ]:
x = 5.6
y = 2
z = 'Hello'

In [ ]:
print(x,  y,z)

5.6 2 Hello

**Static and Dynamic typing**

In [ ]:
# java  - static typing

int a = 5
float b = 5.6
string c = 'Hello world'

SyntaxError: ignored

In [ ]:
# python - dynamic typing

a = 5
b = 5.6
c = 'Hello World'

print(a, b , c)

5 5.6 Hello World

**Stylish Declaration**

In [ ]:
a = 5
b = 6.5
c = 'Hello'
d = False

print(a,b,c,d)

5 6.5 Hello False

In [ ]:
 a, b ,c,d = 5 , 6.5,'Hello',False

In [ ]:
print(a,b,c,d)

5 6.5 Hello False

**Comments**

In [ ]:
# this is the code to add two numbers
# this is second line of the comment just to demonstrate that for each line of comment you should 
# put a '#' first

b = 3
c = 4
d = a+b

In [ ]:
# another way of stylish declaration - comment

a = b = c = 5
print(a,b,c)

5 5 5

In [ ]:
""" This is how you can 
    write multi line comment
    by using three doubt inverted comas but this way of commenting is not preferred in companies"""


a = 5
b = 6
c = a*b
print(c)

30

**Keywords and identifiers**

In [ ]:
# keywords

import keyword
list = keyword.kwlist

print(list)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
AS = 'Hello'

In [ ]:
# identifiers - that uniquely identifies an entity

gift = 'pen'

**User input**

In [ ]:
name = input('Enter your name')
print(name)

Enter your nameSUdhanshu
SUdhanshu

In [ ]:
number1 = input('Enter first number')
number2 = input('Enter second number')

Enter first number10
Enter second number5

In [ ]:
print(number1)
print(number2)

10
5

In [ ]:
sum = number1 + number2   # concatenation of two strings
print(sum)

105

In [ ]:
subtract = number1 - number2

TypeError: ignored

In [ ]:
multi = number1*number2

TypeError: ignored

In [ ]:
# type()

type(number1)

str

In [ ]:
type(number2)

str